USE [Brighetti]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 12/09/2023 15:26:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Articoli]    Script Date: 12/09/2023 15:26:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Articoli](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nome_Articolo] [nvarchar](max) NULL,
	[Descrizione_Articolo] [nvarchar](max) NULL,
	[MagazzinoId] [int] NOT NULL,
	[ArticoloCancellato] [bit] NOT NULL,
	[FamigliaId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Articoli] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetMacchineUsers]    Script Date: 12/09/2023 15:26:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetMacchineUsers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdUtente] [nvarchar](max) NULL,
	[IdMacchina] [int] NOT NULL,
	[IdReparto] [int] NOT NULL,
 CONSTRAINT [PK_dbo.AspNetMacchineUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 12/09/2023 15:26:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 12/09/2023 15:26:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 12/09/2023 15:26:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 12/09/2023 15:26:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](128) NOT NULL,
	[RoleId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 12/09/2023 15:26:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](128) NOT NULL,
	[Email] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEndDateUtc] [datetime] NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[UserName] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Audit]    Script Date: 12/09/2023 15:26:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Audit](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Livello] [tinyint] NULL,
	[Indirizzo] [nvarchar](max) NULL,
	[Messaggio] [nvarchar](max) NULL,
	[Dati] [nvarchar](max) NULL,
	[UltimaModifica_OperatoreID] [nvarchar](max) NULL,
	[UltimaModifica_Operatore] [nvarchar](max) NULL,
	[UltimaModifica_Data] [datetime] NULL,
 CONSTRAINT [PK_dbo.Audit] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Brighetti_Articoli]    Script Date: 12/09/2023 15:26:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Brighetti_Articoli](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CodiceArticolo] [nvarchar](max) NULL,
	[DescrizioneArticolo] [nvarchar](max) NULL,
	[NoteArticolo] [nvarchar](max) NULL,
	[UltimaModifica_OperatoreID] [nvarchar](max) NULL,
	[UltimaModifica_Operatore] [nvarchar](max) NULL,
	[UltimaModifica_Data] [datetime] NULL,
	[FamigliaId] [int] NOT NULL,
	[Importanza] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Brighetti_Articoli] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Brighetti_Attività]    Script Date: 12/09/2023 15:26:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Brighetti_Attività](
	[IdAttività] [int] IDENTITY(1,1) NOT NULL,
	[IncrementaleProcedura] [smallint] NOT NULL,
	[CodiceArticolo] [nvarchar](max) NULL,
	[NomeAttività] [nvarchar](max) NULL,
	[idReparto] [int] NOT NULL,
	[QuantitàProdotta] [decimal](18, 2) NOT NULL,
	[QuantitàScartata] [decimal](18, 2) NOT NULL,
	[StatoAttività] [int] NOT NULL,
	[UltimaModifica_OperatoreID] [nvarchar](max) NULL,
	[UltimaModifica_Operatore] [nvarchar](max) NULL,
	[UltimaModifica_Data] [datetime] NULL,
	[OrdineDiProduzione] [nvarchar](max) NULL,
	[QuantitàdaProdurre] [decimal](18, 2) NOT NULL,
	[TipoAttivitaProcedura] [int] NOT NULL,
	[idMacchinaMagazzino] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Brighetti_Attività] PRIMARY KEY CLUSTERED 
(
	[IdAttività] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Brighetti_Documenti]    Script Date: 12/09/2023 15:26:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Brighetti_Documenti](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nome_File] [nvarchar](max) NULL,
	[TypeElem] [int] NOT NULL,
	[Percorso_File] [nvarchar](max) NULL,
	[DataCreazioneFile] [datetime] NOT NULL,
	[Operatore_Id] [nvarchar](max) NULL,
	[Operatore_Nome] [nvarchar](max) NULL,
	[IdEsterno] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Brighetti_Documenti] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Brighetti_FamiglieProdotto]    Script Date: 12/09/2023 15:26:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Brighetti_FamiglieProdotto](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NomeFamiglia] [nvarchar](max) NULL,
	[DescrizioneFamiglia] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Brighetti_FamiglieProdotto] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Brighetti_Giacenze]    Script Date: 12/09/2023 15:26:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Brighetti_Giacenze](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CodiceArticolo] [nvarchar](max) NULL,
	[CodiceMagazzino] [nvarchar](max) NULL,
	[QuantitàGiacenza] [decimal](18, 2) NOT NULL,
	[QuantitàSottoscorta] [decimal](18, 2) NOT NULL,
	[UltimaModifica_OperatoreID] [nvarchar](max) NULL,
	[UltimaModifica_Operatore] [nvarchar](max) NULL,
	[UltimaModifica_Data] [datetime] NULL,
	[InPrevisioneEntrata] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_dbo.Brighetti_Giacenze] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Brighetti_Lotti]    Script Date: 12/09/2023 15:26:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Brighetti_Lotti](
	[IdLotto] [int] IDENTITY(1,1) NOT NULL,
	[NomeLotto] [nvarchar](max) NULL,
	[DescrizioneLotto] [nvarchar](max) NULL,
	[UltimaModifica_OperatoreID] [nvarchar](max) NULL,
	[UltimaModifica_Operatore] [nvarchar](max) NULL,
	[UltimaModifica_Data] [datetime] NULL,
	[StatoLotto] [int] NOT NULL,
	[Fornitore] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Brighetti_Lotti] PRIMARY KEY CLUSTERED 
(
	[IdLotto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Brighetti_Lotti_Articoli]    Script Date: 12/09/2023 15:26:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Brighetti_Lotti_Articoli](
	[IdLottoArticolo] [int] IDENTITY(1,1) NOT NULL,
	[IdLotto] [int] NOT NULL,
	[IdArticolo] [int] NOT NULL,
	[NomeArticolo] [nvarchar](max) NULL,
	[QuantitàArticolo] [nvarchar](max) NULL,
	[StatoArticoloLotto] [int] NOT NULL,
	[UltimaModifica_OperatoreID] [nvarchar](max) NULL,
	[UltimaModifica_Operatore] [nvarchar](max) NULL,
	[UltimaModifica_Data] [datetime] NULL,
 CONSTRAINT [PK_dbo.Brighetti_Lotti_Articoli] PRIMARY KEY CLUSTERED 
(
	[IdLottoArticolo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Brighetti_Macchine]    Script Date: 12/09/2023 15:26:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Brighetti_Macchine](
	[IdMacchina] [int] IDENTITY(1,1) NOT NULL,
	[NomeMacchina] [nvarchar](max) NULL,
	[DescrizioneMacchina] [nvarchar](max) NULL,
	[IdReparto] [int] NOT NULL,
	[IdUtente] [nvarchar](max) NULL,
	[UltimaModifica_OperatoreID] [nvarchar](max) NULL,
	[UltimaModifica_Operatore] [nvarchar](max) NULL,
	[UltimaModifica_Data] [datetime] NULL,
 CONSTRAINT [PK_dbo.Brighetti_Macchine] PRIMARY KEY CLUSTERED 
(
	[IdMacchina] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Brighetti_Magazzini]    Script Date: 12/09/2023 15:26:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Brighetti_Magazzini](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CodiceMagazzino] [nvarchar](max) NULL,
	[DescrizioneMagazzino] [nvarchar](max) NULL,
	[UltimaModifica_OperatoreID] [nvarchar](max) NULL,
	[UltimaModifica_Operatore] [nvarchar](max) NULL,
	[UltimaModifica_Data] [datetime] NULL,
 CONSTRAINT [PK_dbo.Brighetti_Magazzini] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Brighetti_Note]    Script Date: 12/09/2023 15:26:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Brighetti_Note](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TypeElem] [int] NOT NULL,
	[Contenuto_Nota] [nvarchar](max) NULL,
	[Data_Nota] [datetime] NOT NULL,
	[Operatore_Id] [nvarchar](max) NULL,
	[Operatore_Nome] [nvarchar](max) NULL,
	[IdEsterno] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Brighetti_Note] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Brighetti_Previsione]    Script Date: 12/09/2023 15:26:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Brighetti_Previsione](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CodiceArticolo] [nvarchar](max) NULL,
	[DescrizioneArticolo] [nvarchar](max) NULL,
	[QuantitaInEntrata] [int] NOT NULL,
	[IdAttività] [int] NOT NULL,
	[UltimaModifica_OperatoreID] [nvarchar](max) NULL,
	[UltimaModifica_Operatore] [nvarchar](max) NULL,
	[UltimaModifica_Data] [datetime] NULL,
 CONSTRAINT [PK_dbo.Brighetti_Previsione] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Brighetti_Procedure]    Script Date: 12/09/2023 15:26:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Brighetti_Procedure](
	[IdProcedura] [int] IDENTITY(1,1) NOT NULL,
	[CodiceArticolo] [nvarchar](max) NULL,
	[IncrementaleProcedura] [smallint] NOT NULL,
	[NomeAttività] [nvarchar](max) NULL,
	[idReparto] [int] NOT NULL,
	[UltimaModifica_OperatoreID] [nvarchar](max) NULL,
	[UltimaModifica_Operatore] [nvarchar](max) NULL,
	[UltimaModifica_Data] [datetime] NULL,
	[TipoAttivita] [int] NOT NULL,
	[idMacchinaMagazzino] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Brighetti_Procedure] PRIMARY KEY CLUSTERED 
(
	[IdProcedura] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Brighetti_Reparti]    Script Date: 12/09/2023 15:26:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Brighetti_Reparti](
	[IdReparto] [int] IDENTITY(1,1) NOT NULL,
	[NomeReparto] [nvarchar](max) NULL,
	[DescrizioneReparto] [nvarchar](max) NULL,
	[UltimaModifica_OperatoreID] [nvarchar](max) NULL,
	[UltimaModifica_Operatore] [nvarchar](max) NULL,
	[UltimaModifica_Data] [datetime] NULL,
 CONSTRAINT [PK_dbo.Brighetti_Reparti] PRIMARY KEY CLUSTERED 
(
	[IdReparto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Brighetti_Tempi]    Script Date: 12/09/2023 15:26:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Brighetti_Tempi](
	[IdTempo] [int] IDENTITY(1,1) NOT NULL,
	[IdAttività] [int] NOT NULL,
	[TipoAttività] [int] NOT NULL,
	[DataInizio] [datetime] NOT NULL,
	[DataFine] [datetime] NOT NULL,
	[Note] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Brighetti_Tempi] PRIMARY KEY CLUSTERED 
(
	[IdTempo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DatiMacchina]    Script Date: 12/09/2023 15:26:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DatiMacchina](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdMacchina] [int] NOT NULL,
	[StatoAttività] [nvarchar](max) NULL,
	[NomeProgramma] [nvarchar](max) NULL,
	[ContaPezzi] [nvarchar](max) NULL,
	[Data_OperatoreID] [nvarchar](max) NULL,
	[Data_Operatore] [nvarchar](max) NULL,
	[Data_Data] [datetime] NULL,
 CONSTRAINT [PK_dbo.DatiMacchina] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Log]    Script Date: 12/09/2023 15:26:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Log](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Livello] [tinyint] NULL,
	[Indirizzo] [nvarchar](max) NULL,
	[Messaggio] [nvarchar](max) NULL,
	[Dati] [nvarchar](max) NULL,
	[UltimaModifica_OperatoreID] [nvarchar](max) NULL,
	[UltimaModifica_Operatore] [nvarchar](max) NULL,
	[UltimaModifica_Data] [datetime] NULL,
 CONSTRAINT [PK_dbo.Log] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Macchine]    Script Date: 12/09/2023 15:26:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Macchine](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NomeMacchina] [nvarchar](max) NULL,
	[DescrizioneMacchina] [nvarchar](max) NULL,
	[IndirizzoMacchina] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Macchine] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Magazzino]    Script Date: 12/09/2023 15:26:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Magazzino](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NomeMagazzino] [nvarchar](max) NULL,
	[DescrizioneMagazzino] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Magazzino] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ordini]    Script Date: 12/09/2023 15:26:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ordini](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdOrdine] [int] NOT NULL,
	[IdArticolo] [int] NOT NULL,
	[QtaArticolo] [int] NOT NULL,
	[UltimaModifica_OperatoreID] [nvarchar](max) NULL,
	[UltimaModifica_Operatore] [nvarchar](max) NULL,
	[UltimaModifica_Data] [datetime] NULL,
 CONSTRAINT [PK_dbo.Ordini] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrdiniInCorso]    Script Date: 12/09/2023 15:26:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrdiniInCorso](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdArticolo] [int] NOT NULL,
	[QtaArticolo] [int] NOT NULL,
	[UltimaModifica_OperatoreID] [nvarchar](max) NULL,
	[UltimaModifica_Operatore] [nvarchar](max) NULL,
	[UltimaModifica_Data] [datetime] NULL,
 CONSTRAINT [PK_dbo.OrdiniInCorso] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'00a65075-c382-4bfb-97bc-cf710009dc67', N'Admin')
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'bc1ff1b7-5736-4715-8fa9-e0c9d7e2ccfa', N'Operatore')
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'b20aea50-b3ad-4447-b28e-f60a560e6aef', N'Reparto')
GO
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'80668cd5-e339-42fc-9dc9-96338f7bc5fa', N'00a65075-c382-4bfb-97bc-cf710009dc67')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'192b600c-ed7e-4d81-a43e-40cbb31b75ee', N'b20aea50-b3ad-4447-b28e-f60a560e6aef')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'2667fd58-d9f5-4cd1-a65e-9a20bb5d1bba', N'bc1ff1b7-5736-4715-8fa9-e0c9d7e2ccfa')
GO
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName]) VALUES (N'192b600c-ed7e-4d81-a43e-40cbb31b75ee', NULL, 0, N'AA37fyq3mhO15VK23Qr4UCumpMhUoyaNJ8UqjxjYDDSs7b37nP9mndM6kjxG7/W9+Q==', N'23505ac0-778a-4718-992d-6f23c3c05e69', NULL, 0, 0, NULL, 0, 0, N'Fresa')
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName]) VALUES (N'2667fd58-d9f5-4cd1-a65e-9a20bb5d1bba', NULL, 0, N'AFDngHqGGjG31Qnr1ivnAn0OJCwGCX++f4XXHoOrlzf2dzdQfPNNBsIID8pNZlN0OA==', N'6f76ec4e-1cd8-433d-a078-926e113b47f6', NULL, 0, 0, NULL, 0, 0, N'Utente_Rettifica')
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName]) VALUES (N'2b488aa6-fa86-41ed-b2ac-7050f7820a72', NULL, 0, N'AM/Ki6UJBWjr2iJpAbofsq3+N9/mOaz//ntqrTUk4KOH/ZcW1eJTLAkKT0XWl9aZpg==', N'39a213f0-9dfa-4109-80fd-65a2125b1e8d', NULL, 0, 0, NULL, 0, 0, N'Operatore')
GO
SET IDENTITY_INSERT [dbo].[Brighetti_Articoli] ON 

INSERT [dbo].[Brighetti_Articoli] ([Id], [CodiceArticolo], [DescrizioneArticolo], [NoteArticolo], [UltimaModifica_OperatoreID], [UltimaModifica_Operatore], [UltimaModifica_Data], [FamigliaId], [Importanza]) VALUES (32, N'G5-E-3', N'G5-E-3', NULL, N'Sistema', N'Sistema', CAST(N'2023-09-11T00:00:00.000' AS DateTime), 1, 1)
INSERT [dbo].[Brighetti_Articoli] ([Id], [CodiceArticolo], [DescrizioneArticolo], [NoteArticolo], [UltimaModifica_OperatoreID], [UltimaModifica_Operatore], [UltimaModifica_Data], [FamigliaId], [Importanza]) VALUES (33, N'G5-E-4', N'G5-E-4', NULL, N'Sistema', N'Sistema', CAST(N'2023-09-11T00:00:00.000' AS DateTime), 1, 1)
INSERT [dbo].[Brighetti_Articoli] ([Id], [CodiceArticolo], [DescrizioneArticolo], [NoteArticolo], [UltimaModifica_OperatoreID], [UltimaModifica_Operatore], [UltimaModifica_Data], [FamigliaId], [Importanza]) VALUES (35, N'G5-E-5', N'G5-E-5', NULL, N'Sistema', N'Sistema', CAST(N'2023-09-11T00:00:00.000' AS DateTime), 1, 1)
GO
SET IDENTITY_INSERT [dbo].[Brighetti_Articoli] OFF
GO
SET IDENTITY_INSERT [dbo].[Brighetti_FamiglieProdotto] ON 

INSERT [dbo].[Brighetti_FamiglieProdotto] ([Id], [NomeFamiglia], [DescrizioneFamiglia]) VALUES (1, N'-', N'-')
SET IDENTITY_INSERT [dbo].[Brighetti_FamiglieProdotto] OFF
GO
SET IDENTITY_INSERT [dbo].[Brighetti_Lotti] ON 

INSERT [dbo].[Brighetti_Lotti] ([IdLotto], [NomeLotto], [DescrizioneLotto], [UltimaModifica_OperatoreID], [UltimaModifica_Operatore], [UltimaModifica_Data], [StatoLotto], [Fornitore]) VALUES (1, N'LOTTO_2023_9_7', N'', N'Auto', N'Auto', CAST(N'2023-09-07T12:14:59.353' AS DateTime), 0, N'')
SET IDENTITY_INSERT [dbo].[Brighetti_Lotti] OFF
GO
ALTER TABLE [dbo].[Articoli] ADD  DEFAULT ((0)) FOR [FamigliaId]
GO
ALTER TABLE [dbo].[AspNetMacchineUsers] ADD  DEFAULT ((0)) FOR [IdReparto]
GO
ALTER TABLE [dbo].[Brighetti_Articoli] ADD  DEFAULT ((0)) FOR [FamigliaId]
GO
ALTER TABLE [dbo].[Brighetti_Articoli] ADD  DEFAULT ((0)) FOR [Importanza]
GO
ALTER TABLE [dbo].[Brighetti_Attività] ADD  DEFAULT ((0)) FOR [QuantitàdaProdurre]
GO
ALTER TABLE [dbo].[Brighetti_Attività] ADD  DEFAULT ((0)) FOR [TipoAttivitaProcedura]
GO
ALTER TABLE [dbo].[Brighetti_Attività] ADD  DEFAULT ((0)) FOR [idMacchinaMagazzino]
GO
ALTER TABLE [dbo].[Brighetti_Documenti] ADD  DEFAULT ((0)) FOR [IdEsterno]
GO
ALTER TABLE [dbo].[Brighetti_Giacenze] ADD  DEFAULT ((0)) FOR [InPrevisioneEntrata]
GO
ALTER TABLE [dbo].[Brighetti_Lotti] ADD  DEFAULT ((0)) FOR [StatoLotto]
GO
ALTER TABLE [dbo].[Brighetti_Note] ADD  DEFAULT ((0)) FOR [IdEsterno]
GO
ALTER TABLE [dbo].[Brighetti_Procedure] ADD  DEFAULT ((0)) FOR [TipoAttivita]
GO
ALTER TABLE [dbo].[Brighetti_Procedure] ADD  DEFAULT ((0)) FOR [idMacchinaMagazzino]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId]
GO
