@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;500;700;900&display=swap');

* {
    font-family: "Poppins", Times, serif;
    touch-action: manipulation;
}
body {
    padding-top: 50px;
    padding-bottom: 20px;
}
::-webkit-scrollbar {
    display: none!important;
}
#timer {
    font-size: 750% !important;
    font-weight: 500 !important;
}
#visualizzaButton{
    position:fixed;
    right:23px;
    bottom:152px;
    width:40px;
    height:40px;
}
#modificaButton {
    position: fixed;
    right: 23px;
    bottom: 98px;
    width: 40px;
    height: 40px;
}
.centerDiv {
    display: flex;
    justify-content: center !important;
    align-items: center !important;
    align-content: center !important;
    flex-direction: column !important;
}
.centerDiv > h1 {
    margin: 0!important;
}
.title-card-fixed{
    position: sticky;
    top: 0!important;
}
.header-table-fixed{
    position: sticky;
    top:32px;
    background-color: white;
}
.RightDiv {
    display: flex;
    justify-content: end !important;
    align-items: center !important;
    align-content: center !important;
}
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}
.card-header{
    background-color: white!important;
    border: none!important;
}
    .card-footer {
        background-color: white !important;
    }
.cardAnalisi {
    border: none !important;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    border-radius: 16px !important;
    max-height: 350px !important;
    overflow-y: scroll;
}
/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    /*max-width: 280px;*/
}
#MainDataTable_filter{
    text-align:right;
}
.swal2-container, .swal2-input {
    z-index: 1070 !important;
}
.navbar {
    z-index: 1059 !important;
    position: fixed !important;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    width: 100% !important;
    bottom: 0 !important;
    left: 0 !important;
}
.navbar > .row{
    margin: 0!important;
}
.fa-gradient {
    background: transparent linear-gradient(180deg, #8643FF 0%, #4136F1 100%) 0% 0% no-repeat padding-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.fa-gradient-Not {
    background: #6d3efa9c 0% 0% no-repeat padding-box !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
}
.ContainerFormCreaArticolo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.InputArticolo, .InputArticolo:focus {
    max-width: none !important;
    box-shadow: 0px 1px 6px #00000017 !important;
    border-radius: 16px !important;
    border: none !important;
    height: 56px !important;
    width: 80% !important;
}

.InputRicerca, .InputRicerca:focus {
    max-width: none !important;
    box-shadow: 0px 3px 25px #00000017!important;
    border-radius: 16px!important;
    border: none!important;
    height: 56px!important;
    width:95%!important;
    float: right!important;
}

.BtnRicerca {
    position: relative;
    top: 3px;
    left: -24px;
    background: transparent linear-gradient(225deg, #8743FF 0%, #4136F1 100%) 0% 0% no-repeat padding-box;
    box-shadow: 0px 15px 30px #1466CC29;
    border-radius: 14px !important;
    opacity: 1;
    border: none !important;
    height: 44px !important;
    width: 44px !important;
    display: flex!important;
    justify-content: center;
    align-items: center;
}

.BtnAggiungi {
    position: relative;
    top: 12px;
    background: transparent linear-gradient(225deg, #8743FF 0%, #4136F1 100%) 0% 0% no-repeat padding-box;
    box-shadow: 0px 15px 30px #1466CC29;
    border-radius: 32px !important;
    opacity: 1;
    border: none !important;
    height: 40px !important;
    width: 40px !important;
    display: flex !important;
    justify-content: center;
    align-items: center;
    float: right;
}

.BtnCancella {
    position: relative;
    top: 12px;
    background: transparent linear-gradient(225deg, #E02020 0%, #E02020 100%) 0% 0% no-repeat padding-box;
    box-shadow: 0px 15px 30px #1466CC29;
    border-radius: 28px!important;
    opacity: 1;
    border: none !important;
    height: 40px !important;
    width: 40px !important;
    display: flex !important;
    justify-content: center;
    align-items: center;
    float: right;
}
    .BtnCancella > .fa-plus {
        rotate: 45deg;
        font-size: 25px;
    }
.cardArticolo {
    width:95%;
    border: none!important;
    box-shadow: 0px 0px 12px #0000001A!important;
    border-radius: 14px!important;
    height:62px!important;
}
.cardArticoloAttività {
    width: 95%;
    border: none !important;
    box-shadow: 0px 0px 12px #0000001A !important;
    border-radius: 14px !important;
    margin-bottom:16px;
}
.swal2-deny {
    top: 12px;
    background-color:#ED4337!important;
    box-shadow: 0px 15px 30px #1466CC29;
    border-radius: 28px !important;
    opacity: 1;
    border: none !important;
    height: 55px !important;
    width: 55px !important;
}
.ArticoliContainer {
    margin-bottom: 200px !important;
}
.ArticoliContainer > .row:nth-child(1) {
    margin-top: 28px !important;
}
.ArticoliContainer > .row{
    margin-top: 13px!important;
}
.TestoArticolo > .col-9{
    margin-bottom:0!important;
    margin-left: 20px!important;
}
    .TestoArticolo > .col-9 > h4 {
        font-weight: 900;
        font-size: 14px;
        margin-bottom: 0 !important;
    }
    .TestoArticolo > .col-9 > p {
        font-weight: 500;
        font-size: 12px;
        margin-bottom: 0 !important;
    }
    .TestoArticolo > .col-9:nth-child(1) {
        margin-top: 15px !important;
    }

.fa-2x {
    font-size: 1.5em!important;
}
.swal2-popup {
    border-radius: 24px!important;
    width: 28em!important;
    max-width: 90%!important;
}
.swal2-close:focus {
    box-shadow: 0px 20px 40px #00000026 !important;
}
.swal2-confirm {
    background: transparent linear-gradient(270deg, #8743FF 0%, #4136F1 100%) 0% 0% no-repeat padding-box !important;
    box-shadow: 0px 15px 30px #1466CC29 !important;
    border-radius: 16px !important;
    width: 250px!important;
    height: 55px!important;
    font-size:14px!important;
}

.swal2-close {
    display: flex !important;
    color: red !important;
    font-size: 55px;
    background: #FFFFFF 0% 0% no-repeat padding-box !important;
    box-shadow: 0px 20px 40px #00000026 !important;
    border-radius: 14px !important;
    width: 44px !important;
    height: 44px !important;
    top: -12px !important;
    position: absolute !important;
    right: -12px !important;
    justify-content: center !important;
    padding: 0 !important;
    align-items: center !important;
}

.btnInput, .btnInput:focus {
    width: 50px;
    height: 50px;
    background: #FFF !important;
    box-shadow: 0px 0px 20px #00000014!important;
    position: relative !important;
    outline:none!important;
}
.btnInputMinus {
    right: -50px;
}
.btnInputPlus {
    left: -50px;
}
.plus {
    background: #593BF6 0% 0% no-repeat padding-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.minus {
    background: #B620E0 0% 0% no-repeat padding-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
 
}

.InputQta, .InputQta:focus {
    height: 50px;
    border: none !important;
    box-shadow: 0px 0px 20px #00000014 !important;
    text-align: center !important;
    font-size: 32px !important;
    font-weight: 700 !important;
    outline: none !important;
}

.nomargin{
    margin: 0!important;
}

.nopadding {
    padding: 0 !important;
}

.floatright {
    float: right;
}

.floatleft{
    float:left;
}

.swal2-html-container{
    overflow: hidden!important;
}
.MainTesto{
    margin-top:64px;
}
.MainTesto > h2 {
    font-weight: 900;
}
.DescrizioneTesto > h4 {
    font-weight: 300;
}
.testoPopup{

}

.btnAggiunta{
    background: transparent linear-gradient(270deg, #8743FF 0%, #4136F1 100%) 0% 0% no-repeat padding-box !important;
    box-shadow: 0px 15px 30px #1466CC29 !important;
    border-radius: 16px !important;
    width: 250px !important;
    font-size: 14px !important;
    color: white !important;
    height: 56px !important;
    width: 85% !important;
    max-width: 325px !important;
    border: none !important;
}

.BtnAggiuntaContainer {
    position: fixed;
    bottom: 118px;
    width: 100%;
    left: 0;
    display: flex;
    justify-content: center;
}
/*==========================================================================Sezione Carrello*/
.MainTitleCarrello{
    margin-left:20px!important;
}
.TitleCarrello{
    font-size: 36px!important;
}

.MainTitleCarrello > .col-12{
    padding: 0!important;
}

.add-bottom-space{
    margin-bottom:150px!important;
}
.btnRichiestaDisabled {
    background: #6d3efa9c 0% 0% no-repeat padding-box!important;
    box-shadow: 0px 15px 30px #1466CC29 !important;
    border-radius: 16px !important;
    width: 250px !important;
    font-size: 14px !important;
    color: white !important;
    height: 56px !important;
    width: 85% !important;
    max-width: 325px !important;
    border: none !important;
}
.btnRichiesta {
    background: transparent linear-gradient(270deg, #8743FF 0%, #4136F1 100%) 0% 0% no-repeat padding-box !important;
    box-shadow: 0px 15px 30px #1466CC29 !important;
    border-radius: 16px !important;
    width: 250px !important;
    font-size: 14px !important;
    color: white !important;
    height: 56px !important;
    width: 85% !important;
    max-width: 325px !important;
    border: none !important;
}
.BtnRichiestaContainer {
    position: fixed;
    bottom: 118px;
    width: 100%;
    left: 0;
    display: flex;
    justify-content: center;
}
.MissingItemsCarrello{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.MissingItemsCarrello > h3 {
    margin-top:16px;
    font-weight:700;
}
    .MissingItemsCarrello > p{
        font-weight: 500;
    }


/*==========================================================================Sezione Login*/
.validation-summary-errors{
    text-align: center!important;
}
    .validation-summary-errors > ul {
        padding: 0!important;
    }
        .validation-summary-errors > ul > li {
            list-style: none!important;
        }
    .cardLogin {
        border: none !important;
        box-shadow: 0px 0px 40px #0000000D !important;
        border-radius: 24px !important;
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
        /*margin-bottom: 80px !important;*/
    }
.inputLogin, .inputLogin:focus {
    height: 56px !important;
    width: 85% !important;
    /* UI Properties */
    background: #00000008 0% 0% no-repeat padding-box !important;
    border-radius: 14px !important;
    border: 0 !important;
    width: 85% !important;
    max-width: 325px !important;
    box-shadow: none !important;
}
.LoginContainer{
    position: absolute;
    top: 0;
    left: 12px;
    width: 100vw;
    height:80vh;
    display: flex;
    justify-content: center;
    align-content: center;
    overflow: hidden!important;
    overflow-y:hidden!important;
}
.LoginContainer >.col-md-8{
    padding: 16px;
}
.cardLogin > form {
    width: 100%;
}
.inputLoginContainer {
    display: flex;
    justify-content: center !important;
    align-items: center;
}
.TextLogin{
    font-size: 22px;
    font-weight:700;
    text-align: center;
    margin-top: 45px!important;
}

/*==========================================================================Sezione Account*/
.MainTitleAccount {
    margin-left: 20px !important;
}

.TitleAccount {
    font-size: 36px !important;
}

.MainTitleAccount > .col-12 {
    padding: 0 !important;
}


.TextAccount {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

    .TextAccount > h3 {
        margin-top: 16px;
        font-weight: 700;
    }

    .TextAccount > p {
        font-weight: 500;
    }

.containerCambioPassword, .containerLogout {
    display: flex;
    justify-content: center;
    margin-top: 16px;
    margin-bottom: 16px;
}

.btnCambioPassword {
    background: transparent linear-gradient(270deg, #8743FF 0%, #4136F1 100%) 0% 0% no-repeat padding-box !important;
    box-shadow: 0px 15px 30px #1466CC29 !important;
    border-radius: 16px !important;
    width: 250px !important;
    font-size: 14px !important;
    color: white !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    height: 56px !important;
    width: 85% !important;
    max-width: 325px !important;
    border: none !important;
}
.btnLogOut {
    background: transparent linear-gradient(270deg, #8743FF 0%, #4136F1 100%) 0% 0% no-repeat padding-box !important;
    box-shadow: 0px 15px 30px #1466CC29 !important;
    border-radius: 16px !important;
    width: 250px !important;
    font-size: 14px !important;
    color: white !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    height: 56px !important;
    width: 85% !important;
    max-width: 325px !important;
    border: none !important;
}

/*==========================================================================Sezione Cambia Password*/

.InputCambiaPassword, .InputCambiaPassword:focus {
    max-width: none !important;
    box-shadow: 0px 3px 25px #00000017 !important;
    border-radius: 16px !important;
    border: none !important;
    height: 56px !important;
    width: 88% !important;
    float: right !important;
    margin-top: 16px;
}

.btnInvioCambioPassword {
    background: transparent linear-gradient(270deg, #8743FF 0%, #4136F1 100%) 0% 0% no-repeat padding-box !important;
    box-shadow: 0px 15px 30px #1466CC29 !important;
    border-radius: 16px !important;
    width: 250px !important;
    font-size: 14px !important;
    color: white !important;
    height: 56px !important;
    width: 85% !important;
    max-width: 325px !important;
    border: none !important;
    margin-top:64px!important;
}

.MainTitleCambiaPassword {
    margin-left: 20px !important;
}

.TitleCambiaPassword {
    font-size: 36px !important;
}

.MainTitleCambiaPassword > .col-12 {
    padding: 0 !important;
}

.CenteringInput{
    display: flex!important;
    justify-content: center!important;
    align-items: center!important;
}

/*==========================================================================Sezione Storico*/

.MainTitleStorico {
    margin-left: 20px !important;
}

.TitleStorico {
    font-size: 36px !important;
}

.MainTitleStorico > .col-12 {
    padding: 0 !important;
}
.nav-link {
    border-radius: 99px !important;
    background: #4000ff9c 0% 0% no-repeat padding-box !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
    font-weight: 700!important;
}
.nav-pills{
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-link.active {
    background: transparent linear-gradient(180deg, #8643FF 0%, #4136F1 100%) 0% 0% no-repeat padding-box !important;
    color: white !important;
    -webkit-text-fill-color: white!important;
}

.cardStorico {
    width: 95%;
    border: none !important;
    box-shadow: 0px 0px 12px #0000001A !important;
    border-radius: 14px !important;
    height: 62px !important;
}


.TestoStorico > .col-9 {
    margin-bottom: 0 !important;
    margin-left: 20px !important;
}

    .TestoStorico > .col-9 > h4 {
        font-weight: 900;
        font-size: 14px;
        margin-bottom: 0 !important;
    }

    .TestoStorico > .col-9 > p {
        font-weight: 500;
        font-size: 12px;
        opacity: .58;
        margin-bottom: 0 !important;
    }

    .TestoStorico > .col-9:nth-child(1) {
        margin-top: 15px !important;
    }
.BtnMostraOrdine {
    position: relative;
    top: 12px;
    background: transparent linear-gradient(225deg, #8743FF 0%, #4136F1 100%) 0% 0% no-repeat padding-box;
    box-shadow: 0px 15px 30px #1466CC29;
    border-radius: 32px !important;
    opacity: 1;
    border: none !important;
    height: 40px !important;
    width: 40px !important;
    display: flex !important;
    justify-content: center;
    align-items: center;
    float: right;
}
.HeaderStorico {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 150px;
    z-index: 1001;
    background-color: white;
    padding-top: 50px !important;
    border-radius: 0px 0px 15px 15px;
    box-shadow: 0px 5px 13px 3px #0000000d;
}
.StoricoTabContent {
    margin-top: 128px !important;
    margin-bottom: 80px !important;
}

.cardStorico {
    width: 95%;
    border: none !important;
    box-shadow: 0px 0px 12px #0000001A !important;
    border-radius: 14px !important;
    height: 62px !important;
}


.cardUtenti {
    width: 95%;
    border: none !important;
    box-shadow: 0px 0px 12px #0000001A !important;
    border-radius: 14px !important;
    height: 62px !important;
}
.TestoUtenti > .col-9 {
    margin-bottom: 0 !important;
    margin-left: 20px !important;
}

    .TestoUtenti > .col-9 > h4 {
        font-weight: 900;
        font-size: 14px;
        margin-bottom: 0 !important;
    }

    .TestoUtenti > .col-9 > p {
        font-weight: 500;
        font-size: 12px;
        opacity: .58;
        margin-bottom: 0 !important;
    }

    .TestoUtenti > .col-9:nth-child(1) {
        margin-top: 15px !important;
    }
.BtnMostraUtenti {
    position: relative;
    top: 12px;
    background: transparent linear-gradient(225deg, #8743FF 0%, #4136F1 100%) 0% 0% no-repeat padding-box;
    box-shadow: 0px 15px 30px #1466CC29;
    border-radius: 32px !important;
    opacity: 1;
    border: none !important;
    height: 40px !important;
    width: 40px !important;
    display: flex !important;
    justify-content: center;
    align-items: center;
    float: right;
}
.BtnAggiungiModal, .BtnAggiungiMagazzinoModal, .BtnAggiungiRepartoModal, .BtnAggiungiMacchinaModal {
    position: relative;
    background: transparent linear-gradient(225deg, #8743FF 0%, #4136F1 100%) 0% 0% no-repeat padding-box;
    box-shadow: 0px 15px 30px #1466CC29;
    border-radius: 32px !important;
    opacity: 1;
    border: none !important;
    display: flex !important;
    justify-content: center;
    align-items: center;
    float: right;
}
.BtnSospendiAttività {
    position: relative;
    background: red!important;
    box-shadow: 0px 15px 30px #1466CC29;
    border-radius: 32px !important;
    opacity: 1;
    border: none !important;
    display: flex !important;
    justify-content: center;
    align-items: center;
}
.BtnConcludiAttività {
    position: relative;
    background: transparent linear-gradient(225deg, #8743FF 0%, #4136F1 100%) 0% 0% no-repeat padding-box;
    box-shadow: 0px 15px 30px #1466CC29;
    border-radius: 32px !important;
    opacity: 1;
    border: none !important;
    display: flex !important;
    justify-content: center;
    align-items: center;
}
.BtnApriAttivitàModal {
    background-color: transparent;
    border: none;
    width: 100%;
}
.BtnAggiungi {
    position: relative;
    top: 12px;
    background: transparent linear-gradient(225deg, #8743FF 0%, #4136F1 100%) 0% 0% no-repeat padding-box;
    box-shadow: 0px 15px 30px #1466CC29;
    border-radius: 32px !important;
    opacity: 1;
    border: none !important;
    height: 40px !important;
    width: 40px !important;
    display: flex !important;
    justify-content: center;
    align-items: center;
    float: right;
}
.BtnUtenteContainer {
    position: fixed;
    bottom: 118px;
    width: 100%;
    left: 0;
    display: flex;
    justify-content: center;
}

.btnAggiungiUtente {
    background: transparent linear-gradient(270deg, #8743FF 0%, #4136F1 100%) 0% 0% no-repeat padding-box !important;
    box-shadow: 0px 15px 30px #1466CC29 !important;
    border-radius: 16px !important;
    width: 250px !important;
    font-size: 14px !important;
    color: white !important;
    height: 56px !important;
    width: 85% !important;
    max-width: 325px !important;
    border: none !important;
}
.ContainerFormCreaUtente{
    display: flex;
    justify-content:center;
    align-items: center;
}
.InputUsername, .InputUsername:focus {
    max-width: none !important;
    box-shadow: 0px 1px 6px #00000017 !important;
    border-radius: 16px !important;
    border: none !important;
    height: 56px !important;
    width: 80% !important;
}

.InputMail, .InputMail:focus {
    max-width: none !important;
    box-shadow: 0px 1px 6px #00000017 !important;
    border-radius: 16px !important;
    border: none !important;
    height: 56px !important;
    width: 80% !important;
}
td{
    vertical-align: middle;
}
.modal-backdrop {
    z-index: 1060 !important;
}
.modal-header {
    border-bottom: 0px !important;
}
.modal{
    z-index:1070!important;
}
.modal-content {
    border-radius: 16px !important;
    border: none !important;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px !important;
}

.dropbtn {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

.dropup {
    position: relative;
    display: inline-block;
}

.dropup-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 160px;
    bottom: 50px;
    z-index: 1;
    border-radius:16px;
}

    .dropup-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

        .dropup-content a:hover {
            background-color: #F1F1F1 !important;
            border-radius: 16px;
        }

.dropup:hover .dropup-content {
    display: block;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px !important;
}

.dropup:hover .dropbtn {
    background-color: #fff;
}
.blinking {
    -webkit-animation: 1s blink ease infinite;
    -moz-animation: 1s blink ease infinite;
    -ms-animation: 1s blink ease infinite;
    -o-animation: 1s blink ease infinite;
    animation: 1s blink ease infinite;
}
@keyframes blink {
    50% {
        opacity: 0;
    }
}

.clickable {
    background-image: url('/Content/assets/Planimetria_Brighetti.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 0;
    padding-top: 66.00%;
}

.planimetriaCenter {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.buttonNotSelected {
    background: lightgrey;
    color: black;
    -webkit-text-fill-color: black;
    outline: none;
    border-radius: 64px;
    border: none;
}

.buttonSelected {
    background: transparent linear-gradient(180deg, #8643FF 0%, #4136F1 100%) 0% 0% no-repeat padding-box !important;
    color: white !important;
    -webkit-text-fill-color: white !important;
}

.classPinPoint {
    transform: translate(-40%, -40%);
}